<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Welcome,
        <span th:if="${username != null}" th:text="${username}"></span>
        <span th:if="${username == null}">user</span>
        ! You <span th:unless="${hasDogs}">don't</span> have a dog!
    </h2>
    <h3>The potato is <span th:text="${potato}"></span></h3>

    <form action="/emotions" method="POST">
        <input type="text" name="emotionName"> name
        <input type="number" name="strength"> str
        <input type="text" name="reason"> reason
        <input type="submit" value="add emotions">
    </form>
</body>
</html>