<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:replace="fragments/nav :: banana"></div>
    <h1>Hey this is [[${viewedUser.username}]]'s profile</h1>

    <ul>
        <li th:each="dragon : ${viewedUser.dragons}" th:text="${dragon}" >
        </li>
    </ul>
</body>
</html>